{% extends 'base.html' %} {% block body_block %}

<div class="about-us-title">
	 <section class="section--center mdl-grid">
        <h3 class="title">About Us</h3>
    </section>
</div>
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--9-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">Mission Statement</h1>
        </div>
        <div class="mdl-card__supporting-text">
           <div class="mission-statement-text">
           		<p>To serve and represent students and community in topics relating to technology, software, computing, and electronic communication.

We foster collaboration and community among software developers of varying skills, experience, and specializations by providing a forum for the dissemination of relevant information and to thereby help students and attendees in software development.

We will supplement curriculum by discussing any and all topics related to CS, Software and web development, programming, security, innovative technologies, and relevant mathematics.

We will promote open and other standards on and off campus and to promote free choice of software for university-related tasks such as fulfilling class requirements and communication.</p>
           </div>
        </div>
    </div>
</section>


<div class="officer-title">
    <section class="section--center mdl-grid">
        <h3 class="title">Officers</h3>
    </section>
</div>

<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--9-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">Current Officers</h1>
        </div>
        <div class="mdl-card__supporting">
            
            <ul>
                <li>President: John "JJ" Robertson</li>
                <li>Vice-President: Michael Sprague-Eckenrode</li>
                <li>Treasurer: Daniel Baird</li>
                <li>Secetary: Steven King</li>
                <li>Project Manager: Connor Davey</li>
                <li>Outreach Chair: Nathan Fegard</li>
                <li>Marketing Chair: Abhik Chowdhury</li>
                <li>Coding Competition Coordinator: Thomas Forrest</li>
                <li>Faulty Advisor: Dr. Adam Doupé - doupe@asu.edu</li>
            </ul>
        </div>
    </div>
</section>
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--9-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">Spring 2015</h1>
        </div>
        <div class="mdl-card__supporting">
            <ul>
                <li>President: Patrick Gaines</li>
                <li>Vice-President: Michael Sprague-Eckenrode</li>
                <li>Treasurer: Nathaniel Mendoza</li>
                <li>Secetary: Tyler Wanek</li>
                <li>Project Manager: Chris Recher</li>
                <li>Outreach Chair: John “JJ” Robertson</li>
                <li>Marketing Chair: John Kevin Lopez Cava</li>
                <li>Coding Competition Coordinators: Steven King & Nathan Fegard</li>
                <li>Faulty Advisor: Dr. Liam Mayron - lmayron@asu.edu</li>
                <li>Faulty Advisor: Dr. Mutsumi Nakamura - mutsumi@asu.edu</li>
            </ul>
        </div>
    </div>
</section>

<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--9-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">Fall 2014</h1>
        </div>
        <div class="mdl-card__supporting">
            <ul>
                <li>President: Patrick Gaines</li>
                <li>Vice-President: Michael Sprague-Eckenrode</li>
                <li>Treasurer: Nathaniel Mendoza</li>
                <li>Secetary: Tyler Wanek</li>
                <li>Project Manager: Chris Recher</li>
                <li>Webmaster: Eric Tang</li>
                <li>Public Relations: Joanna Zurawek</li>
                <li>Outreach Chair: John “JJ” Robertson</li>
                <li>Marketing Chair: John Kevin Lopez Cava</li>
                <li>Coding Competition Coordinators: Steven King & Nathan Fegard</li>
                <li>Faulty Advisor: Dr. Adam Doupé - doupe@asu.edu</li>
            </ul>
        </div>
    </div>
</section>
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--9-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">Fall 2013 - Spring 2014</h1>
        </div>
        <div class="mdl-card__supporting">
            <ul>
                <li>President: Allen Hsia</li>
                <li>Vice-President: Michael Sprague-Eckenrode</li>
                <li>Treasurer: Cory Calhoun</li>
                <li>Secetary: Min Lin</li>
                <li>Project Manager: Chris Recher</li>
                <li>Event Coordinator: Joanna Zurawek</li>
                <li>Webmaster: Patrick Gaines</li>

                <li>Faulty Advisor: Dr. Kevin Burger - burgerk@asu.edu</li>
            </ul>
        </div>
    </div>
</section>

<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--9-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">Fall 2012 - Spring 2013</h1>
        </div>
        <div class="mdl-card__supporting">
            <ul>
                <li>President: Joseph Drolshagen</li>
                <li>Vice-President: Brandon Fletcher</li>
                <li>Treasurer: Cory Harasha</li>
                <li>Secetary: Glenn Craver</li>
                <li>Faulty Advisor: Dr. Kevin Burger - burgerk@asu.edu</li>
            </ul>
        </div>
    </div>
</section>

<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--9-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">2010-2012</h1>
        </div>
        <div class="mdl-card__supporting">
            <ul>
                <li>President: Travis Sein</li>
                <li>Vice-President: Alan Heuertz</li>
                <li>Treasurer: Jesse Michael</li>
                <li>Secetary: Jesse Michael</li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}
