{% extends "base.html" %} {% block body_block %} {% for story in news_post %}

 <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--9-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">{{ story.title }}</h1>
                <div class="mdl-card__subtitle">
                	<h4 class="mdl-card__subtitle-text">{{ story.date }}</h4>
                </div>
            </div>
            <div class="card hideMe">
                <div class="mdl-card__supporting-text">
            	    <div>
            		   {{ story.body }}
            	    </div>
                </div>
            </div>
           
</section>
{% endfor %}

{% endblock %}
