{% extends 'base.html' %} {% block body_block %}
<div class="competition-title">
   <section class="section--center mdl-grid">
        <h3 class="title">Future Competitions</h3>
   </section> 
</div>
{% for post in future_hacks %}

 <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--9-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">{{ post.title }}</h1>
                <div class="mdl-card__subtitle">
                	<h4 class="mdl-card__subtitle-text">{{ post.date }}</h4>
                </div>
            </div>
            
            <div class="card hideMe">
                <div class="mdl-card__supporting-text ensure-card-width">
            	    <div>
            		   {{ post.body }}
            	    </div>
                </div>
                <!--_
                <div class="mdl-card__actions mdl-card--border showMe">
                        <a class="mdl-button">Click to find out more!</a>        
                </div>
                -->
            </div>
</section>

{% endfor %}
<div class="competition-title">
<section class="section--center mdl-grid">
    <h3 class="title">Past Competitions</h3>
</section> 
</div>
{% for post in past_hacks %}

 <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--9-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">{{ post.title }}</h1>
                <div class="mdl-card__subtitle">
                	<h4 class="mdl-card__subtitle-text">{{ post.date }}</h4>
                </div>
            </div>
            
            <div class="card hideMe">
                <div class="mdl-card__supporting-text">
            	    <div>
            		   {{ post.body }}
            	    </div>
                </div>
                <!--_
                <div class="mdl-card__actions mdl-card--border showMe">
                        <a class="mdl-button">Click to find out more!</a>        
                </div>
                ---->
            </div>
</section>
{% endfor %}

{% endblock %}
