{% extends 'base.html' %} {% block body_block %}
<div class="calendar-title">
   <section class="section--center mdl-grid">
        <h3 class="title">Upcoming Events!</h3>
   </section> 
</div>
   <div class="calendar">	

    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">

        <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--9-col-tablet mdl-cell--4-col-phone">
            <div style='height: 500px; width: auto;'>
                <iframe src="https://www.google.com/calendar/embed?height=500&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=p3drduk53lk3hlkt5dr04moui4%40group.calendar.google.com&amp;color=%23B1365F&amp;ctz=America%2FPhoenix" style=" border:solid 1px #777 " width="100%" height="100%" frameborder="0" scrolling="no">
                </iframe>
            </div>
        </div>

    </section>
</div>

{% endblock %}