{% extends 'base.html' %} {% load static %} {% block body_block %}
<div class="welcome">
    <div class="welcome-title">
        <section class="section--center mdl-grid">
            <h3 class="title">Welcome to the Software Developers Association!</h3>
        </section>
    </div>
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">

        <div class="mdl-card static-card mdl-cell mdl-cell--12-col-desktop mdl-cell--9-col-tablet mdl-cell--4-col-phone index">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">What is SoDA?</h1>
            </div>
            <div class="mdl-card__supporting-text">
                <p>SoDA is the premiere software development club at ASU. SoDA provides a place for ASU students to learn about real-world software development. Students are encouraged to network with other students and to start their own projects.</p>
            </div>
        </div>
    </section>
    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card static-card mdl-cell mdl-cell--12-col index">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">Why SoDA?</h1>
            </div>
            <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                
                <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                    <i class="material-icons md-36 color">build</i>
                </div>
                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                    <h5>Experience</h5>
                    <p>Develop real-world experience and network with students and industry professionals.</p>
                </div>
                <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                    <i class="material-icons md-36 color">web</i>
                </div>
                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                    <h5>Projects</h5>
                    <p>Feeling ambitious? Join or start a project with other students and beef up your resume.</p>
                </div>
                <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                    <i class="material-icons md-36 color">people</i>
                </div>
                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                    <h5>Community</h5>
                    <p>Meet and network with a community of passionate and dedicated developers.</p>
                </div>
            </div>
            
        </div>

    </section>
<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">

        <div class="mdl-card static-card mdl-cell mdl-cell--12-col-desktop mdl-cell--9-col-tablet mdl-cell--4-col-phone index">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">Stay up to date</h1>
            </div>
            <div class="mdl-card__supporting-text">
                <p>Checkout our Facebook and OrgSync pages for the latest news on our techanical workshops, industry events, and much more!</p>
            </div>
             <div class="mdl-card__actions">
                <a href="https://orgsync.com/12637/chapter" class="mdl-button">Join us on OrgSync!</a>
                <a href="https://github.com/asusoda/" class="mdl-button">Fork our Github!</a>
                <a href="https://www.facebook.com/groups/asusoda/" class="mdl-button">Check out our Facebook page!</a>
            </div>
        </div>
    </section>

    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        <div class="mdl-card static-card mdl-cell mdl-cell--12-col-desktop mdl-cell--9-col-tablet mdl-cell--4-col-phone index">
            <div class="mdl-card__title">
                <h1 class="mdl-card__title-text">Location</h1>
            </div>
            <div class="mdl-card__media" style="height: 486px;">
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5764.496106841871!2d-111.93541792505307!3d33.422903823110694!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872b08d93afcfcb7%3A0xbc8472e303af6132!2sCollege+Avenue+Commons!5e0!3m2!1sen!2sus!4v1439339058696" width="auto" height="486" frameborder="0" style="border:0"></iframe>
            </div>
            <div class="mdl-card__supporting-text">
                <p>Meetings are held Tuesdays and Thursdays in CVAC-351 from 6:30pm to 8:30pm. Info about specific meetings and events are displayed on the calendar.</p>
            </div>
            <div class="mdl-card__actions">
                <a href="/post/calendar/" class="mdl-button">Event Calendar</a>
            </div>
        </div>
    </section>
     
</div>
{% endblock %}

